<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>头部</title>
<script src="./js/header.js"></script>
</head>

<body>
  <div class="menu">
    <a href="index.html"><h1 class="logo">清波</h1></a>
    <ul>
      <li class="jsTab" data-tab="about"><a href="aboutUs.html#about">了解清波</a></li>
      <li class="line"> &nbsp;</li>
      <li class="jsTab" data-tab="course"><a href="goldCourse.html#course">金牌课程</a></li>
      <li class="line"> &nbsp;</li>
      <li class="jsTab" data-tab="teacher"><a href="starMentor.html#teacher">明星导师</a></li>
      <li class="line"> &nbsp;</li>
      <li class="jsTab" data-tab="certificate"><a href="certification.html#certificate">资格认证</a></li>
      <li class="line"> &nbsp;</li>
      <li class="jsTab" data-tab="news"><a href="news.html#news">最新动态</a></li>
      <li class="line"> &nbsp;</li>
      <li class="jsTab" data-tab="media"><a href="photoVedio.html#media">图片视频</a></li>
      <li class="line"> &nbsp;</li>
      <li class="jsTab" data-tab="job"><a href="getJob.html#job">保障就业</a></li>
      <li class="line"> &nbsp;</li>
      <li class="jsTab" data-tab="school"><a href="schoolZone.html#school">奥林匹克总校区</a></li>
    </ul>
  </div>
</body>
</html>
