<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<link rel="stylesheet" href="css/style.css" type="text/css"/>
<title>精英私教</title>
<script src="js/lib/jquery.min.js"></script>
<script src="js/pub.js"></script>
</head>

<body>
<!-- 头部  -->
    <div class="header_box" id="header1">
        <div class="menu">
            <h1 class="logo"><a href="index.html" target="_blank"><img src="images/logo.png" width="132" height="52" border="0" /></a></h1>
            <ul>
                <li><a href="aboutUs.html" target="_blank">了解清波</a></li>
                <li class="line"> &nbsp;</li>
                <li><a href="goldCourse.html" target="_blank">金牌课程</a></li>
                <li class="line"> &nbsp;</li>
                <li><a href="starMentor.html" target="_blank">明星导师</a></li>
                <li class="line"> &nbsp;</li>
                <li><a href="certification.html" target="_blank">资格认证</a></li>
                <li class="line"> &nbsp;</li>
                <li><a href="news.html" target="_blank">最新动态</a></li>
                <li class="line"> &nbsp;</li>
                <li><a href="photoVedio.html" target="_blank">图片视频</a></li>
                <li class="line"> &nbsp;</li>
                <li><a href="getJob.html" target="_blank">保障就业</a></li>
                <li class="line"> &nbsp;</li>
                <li><a href="schoolZone.html" target="_blank">奥林匹克总校区</a></li>
            </ul>
        </div>
        <img src="images/bj15.jpg" />
    </div>

<!--金非昔比-->
<div class="compared" id="compared">
	<!--<div class="tit"><img src="images/title12.png" width="438" height="86" /></div>
	<div class="cont">
    	<ul>
        	<li>
            	<span class="bj_icon01"></span>
                <span>教练收入</span>
                <i>月薪轻松过万，走上人生巅峰</i>
            </li>
            <li>
            	<span class="bj_icon02"></span>
                <span>工作环境</span>
                <i>高端大气上档次</i>
            </li>
            <li>
            	<span class="bj_icon03"></span>
                <span>教练身材</span>
                <i>穿衣显瘦、脱衣有肉</i>
            </li>
            <li>
            	<span class="bj_icon04"></span>
                <span>社会地位</span>
                <i>比白领高薪、比金领自由</i>
            </li>
        </ul>
		<p>普通白领月收入4000-6000，人脉少，涨薪难，面对电脑健康无保障，幸福指数直线下降
			而健身教练，平均收入1万＋，在中国，每年递增俱乐部5000-6000家，对优质健身教练需求巨大</p>
    </div>-->
	$eliteEdu_gpc$

</div>

<!--参与测试-->
<div class="test" id="test">
 	
	<em><img src="images/icon02.png" width="67" height="64" /></em>
	<span>免费测试：我适合做健身教练吗？</span>
    <a href="javascript:;">参与测试<i></i></a>
  	<div class="clear"></div>
</div>

<div class="s_banner"><img src="images/title14.png" width="321" height="188" /></div>

<!--明星导师-->
<div class="super_mentor">
 
  <div class="cont">
    <div class="tit pad_10"><img src="images/title13.png" width="305" height="85" /></div>
    <div class="mentor_list">
      <ul>
        <li><a href="javascript:;"><img src="images/img4.png" width="240" height="350" />
          <p><span>姚清波</span><i>专注健身教育专注健身教育专注健身教育专注健身教育专注健身教育专注健身专注健身教育教育专注健身教育16年</i></p>
          </a></li>
        <li class="current"><a href="javascript:;"><img src="images/img5.png" width="240" height="350" />
          <p><span>姚清波</span><i>专注健身教育专注健身教育专注健身教育专注健身教育专注健身教育专注健身专注健身教育教育专注健身教育16年</i></p>
          </a></li>
        <li><a href="javascript:;"><img src="images/img6.png" width="229" height="350" />
          <p><span>姚清波</span><i>专注健身教育专注健身教育专注健身教育专注健身教育专注健身教育专注健身专注健身教育教育专注健身教育16年</i></p>
          </a></li>
        <li><a href="javascript:;"><img src="images/img7.png" width="240" height="350" />
          <p><span>姚清波</span><i>专注健身教育专注健身教育专注健身教育专注健身教育专注健身教育专注健身专注健身教育教育专注健身教育16年</i></p>
          </a></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="btn_blue03"><a href="tencent://message/?uin=2655646300&Site=&Menu=yes">和明星导师一对一交流<i></i></a></div>
  </div>
</div>

<!--banner-->
<div class="banner03"></div>
<!--list-->
<div class="list">
	<ul>
    	<li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>01<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
        <li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>02<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
        <li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>03<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
        <li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>04<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
        <li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>05<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
        <li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>06<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
        <li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>07<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
        <li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>08<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
        <li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>09<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
        <li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>10<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
        <li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>11<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
        <li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>12<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
        <li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>13<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
        <li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>14<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
        <li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>15<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
        <li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>16<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
        <li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>17<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
        <li><i><img src="images/img24.jpg" width="243" height="240" /></i>
   	    <p>18<span><em>私人教练的理念</em>私人教练，就是为了健身爱好者提供一对一具体指导的健身指导者。私人健身教练进行的是一对一的工作，工作具有互动性、针对性等特点</span></p></li>
    </ul>
    <div class="clear"></div>
    
    <div class="btn_blue03 marg_50"><a href="javascript:;">零基础我能否学会<i></i></a></div>
</div>


<!--ta们之前是-->
<div class="banner05"></div>



<!--banner-->
<div class="banner04"></div>




<!--优秀学员-->
<div class="stu_box">
  <div class="big_box"> 
  	<i class="l jsPrev"></i>
    <div class="cont">
    	<div class="stu_boxlist clearfix">
    		<div class="stu_boxdetail clearfix">
		      <div class="font">
		        <h3>01<span>/ 20</span></h3>
		        <p><span>最高业绩：<em>单笔业绩80万</em></span></p>
		        <p><span>出生年月：<em>1990年2月9日</em></span></p>
		        <p><span>年收入：<em>50万以上</em></span></p>
		        <p><span>毕业时间：<em>2012年3月</em></span></p>
		        <p><span>所学课程：<em>全能班</em></span></p>
		        <p><span>之前的工作：<em>大学刚毕业</em></span></p>
		        <p><span>从事俱乐部：<em>上海一兆韦德</em></span></p>
		        <div class="btn_blue02"><a href="javascript:;">更多资格认证<i></i></a></div>
		      </div>
		      <div class="img_stu"><img src="images/img12.png" /></div>
	     	</div>
	     	<div class="stu_boxdetail clearfix">
		      <div class="font">
		        <h3>02<span>/ 20</span></h3>
		        <p><span>最高业绩：<em>单笔业绩80万</em></span></p>
		        <p><span>出生年月：<em>1990年2月9日</em></span></p>
		        <p><span>年收入：<em>50万以上</em></span></p>
		        <p><span>毕业时间：<em>2012年3月</em></span></p>
		        <p><span>所学课程：<em>全能班</em></span></p>
		        <p><span>之前的工作：<em>大学刚毕业</em></span></p>
		        <p><span>从事俱乐部：<em>上海一兆韦德</em></span></p>
		        <div class="btn_blue02"><a href="javascript:;">更多资格认证<i></i></a></div>
		      </div>
		      <div class="img_stu"><img src="images/img12.png" /></div>
	     	</div>
	     	<div class="stu_boxdetail clearfix">
		      <div class="font">
		        <h3>03<span>/ 20</span></h3>
		        <p><span>最高业绩：<em>单笔业绩80万</em></span></p>
		        <p><span>出生年月：<em>1990年2月9日</em></span></p>
		        <p><span>年收入：<em>50万以上</em></span></p>
		        <p><span>毕业时间：<em>2012年3月</em></span></p>
		        <p><span>所学课程：<em>全能班</em></span></p>
		        <p><span>之前的工作：<em>大学刚毕业</em></span></p>
		        <p><span>从事俱乐部：<em>上海一兆韦德</em></span></p>
		        <div class="btn_blue02"><a href="javascript:;">更多资格认证<i></i></a></div>
		      </div>
		      <div class="img_stu"><img src="images/img12.png" /></div>
	     	</div>
     	</div>
    </div>
    <i class="r current1 jsNext"></i>
    <div class="clear"></div>
  </div>
  <div class="s_box">
    <ul id="starStuList">
      <li class="current">
        <p class="font"><span><em>King Bo</em>姚清波</span><i>上海 一兆韦德</i></p>
        <p><img src="images/img30.png"/></p>
      </li>
      <li>
      	<p class="font hide"><span><em>King Bo</em>姚清波</span><i>上海 一兆韦德2</i></p>
        <p><img src="images/img30.png"/></p>
      </li>
      <li>
      	<p class="font hide"><span><em>King Bo</em>姚清波</span><i>上海 一兆韦德2</i></p>
        <p><img src="images/img30.png"/></p>
      </li>
      <li>
      	<p class="font hide"><span><em>King Bo</em>姚清波</span><i>上海 一兆韦德2</i></p>
        <p><img src="images/img30.png"/></p>
      </li>
      <li>
      	<p class="font hide"><span><em>King Bo</em>姚清波</span><i>上海 一兆韦德2</i></p>
        <p><img src="images/img30.png"/></p>
      </li>
      <li>
      	<p class="font hide"><span><em>King Bo</em>姚清波</span><i>上海 一兆韦德2</i></p>
        <p><img src="images/img30.png"/></p>
      </li>
      <li>
      	<p class="font hide"><span><em>King Bo</em>姚清波</span><i>上海 一兆韦德2</i></p>
        <p><img src="images/img30.png"/></p>
      </li>
    </ul>
  </div>
</div>

<!--照片视频-->
<div class="phote_vedio">
	<div class="tit"><img src="images/title4.png"/></div>
    <div class="cont">
    	<ul>
        	<li class="vedio"><i></i><img src="images/vedio.png"/></li>
            <li><a href="javascript:;"><img src="images/img31.png" width="360" height="360" /></a></li>
            <li><a href="javascript:;"><img src="images/img31.png" width="360" height="360" /></a></li>
            <li><a href="javascript:;"><img src="images/img31.png" width="360" height="360" /></a></li>
            <li><a href="javascript:;"><img src="images/img31.png" width="360" height="360" /></a></li>
            <li class="vedio"><i></i><img src="images/vedio.png"/></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="btn_blue02"><a href="javascript:;">更多照片视频<i></i></a></div>
</div>


<!--新闻动态-->
<div class="news news_heig">
	<div class="tit"><img src="images/title5.png" width="145" height="83" /></div>
    <div class="cont">
    	<ul>
        	<li>
            <p>23<i>2月</i></p>
            <a href="javascript:;"><img src="images/img9.png" width="374" height="280" /></a>
            <div>
            <a href="javascript:;" class="biaoti">清波学员福利</a>
            <span>初冬的早晨是初冬的早晨是美丽的初冬的早晨是美丽的初冬的早晨是美丽的初冬的早晨是美丽的初冬的早晨是美丽的初冬的早晨是美丽的美丽的</span>
            <a href="javascript:;" class="find">查看<i></i></a>
            </div>
            </li>
            <li>
            <p>23<i>2月</i></p>
            <a href="javascript:;"><img src="images/img9.png" width="374" height="280" /></a>
            <div>
            <a href="javascript:;" class="biaoti">清波学员福利</a>
            <span>初冬的早晨是初冬的早晨是美丽的初冬的早晨是美丽的初冬的早晨是美丽的初冬的早晨是美丽的初冬的早晨是美丽的初冬的早晨是美丽的美丽的</span>
            <a href="javascript:;" class="find">查看<i></i></a>
            </div>
            </li>
            <li>
            <p>23<i>2月</i></p>
            <a href="javascript:;"><img src="images/img9.png" width="374" height="280" /></a>
            <div>
            <a href="javascript:;" class="biaoti">清波学员福利</a>
            <span>初冬的早晨是初冬的早晨是美丽的初冬的早晨是美丽的初冬的早晨是美丽的初冬的早晨是美丽的初冬的早晨是美丽的初冬的早晨是美丽的美丽的</span>
            <a href="javascript:;" class="find">查看<i></i></a>
            </div>
            </li>
        
        </ul>
    <div class="clear"></div>

    </div>
    
    
</div>


<!--合作伙伴-->
<div class="our_partner">
	<div class="tit"><img src="images/title6.png" width="145" height="82" /></div>
    <div class="cont">
    	<a href="javascript:;"><img src="images/link1.png" /></a>
        <a href="javascript:;"><img src="images/link2.png" class="mar" /></a>
        <a href="javascript:;"><img src="images/link3.png" class="mar"  /></a>
        <a href="javascript:;"><img src="images/link4.png" /></a>
        <a href="javascript:;"><img src="images/link5.png" /></a>
        <a href="javascript:;"><img src="images/link6.png" class="mar" /></a>
        <a href="javascript:;"><img src="images/link7.png" class="mar" /></a>
        <a href="javascript:;"><img src="images/link8.png" /></a>
        <a href="javascript:;"><img src="images/link9.png" class="mar" /></a>
        <a href="javascript:;"><img src="images/link10.png" /></a>
        <a href="javascript:;"><img src="images/link11.png" /></a>
        <a href="javascript:;"><img src="images/link12.png" /></a>
        <div class="clear"></div>
    </div>
</div>
<div class="btn_blue03 margin_110"><a href="javascript:;">立即咨询 享受限时优惠<i></i></a></div>

<!--底部-->
<div id="footer"></div>
</body>
</html>
