<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<link rel="stylesheet" href="css/style.css" type="text/css"/>
<title>精英私教</title>
<script src="js/lib/jquery.min.js"></script>
<script src="js/pub.js"></script>
</head>

<body>
<!-- 头部  -->
    <div class="header_box" id="header1">
        <div class="menu">
            <h1 class="logo"><a href="index.html" target="_blank"><img src="images/logo.png" width="132" height="52" border="0" /></a></h1>
            <ul>
                <li><a href="aboutUs.html" target="_blank">了解清波</a></li>
                <li class="line"> &nbsp;</li>
                <li><a href="goldCourse.html" target="_blank">金牌课程</a></li>
                <li class="line"> &nbsp;</li>
                <li><a href="starMentor.html" target="_blank">明星导师</a></li>
                <li class="line"> &nbsp;</li>
                <li><a href="certification.html" target="_blank">资格认证</a></li>
                <li class="line"> &nbsp;</li>
                <li><a href="news.html" target="_blank">最新动态</a></li>
                <li class="line"> &nbsp;</li>
                <li><a href="photoVedio.html" target="_blank">图片视频</a></li>
                <li class="line"> &nbsp;</li>
                <li><a href="getJob.html" target="_blank">保障就业</a></li>
                <li class="line"> &nbsp;</li>
                <li><a href="schoolZone.html" target="_blank">奥林匹克总校区</a></li>
            </ul>
        </div>
        <img src="images/bj15.jpg" />
    </div>

<!--金非昔比-->
<div class="compared" id="compared">
	
	$eliteEdu_gpc$

</div>

<!--参与测试-->
<div class="test" id="test">
 	
	<em><img src="images/icon02.png" width="67" height="64" /></em>
	<span>免费测试：我适合做健身教练吗？</span>
    <a href="javascript:;">参与测试<i></i></a>
  	<div class="clear"></div>
</div>

<div class="s_banner" id="s_banner"><img src="images/title14.png" width="321" height="188" /></div>

<!--明星导师-->
<div class="super_mentor" id="super_mentor">
 
  <div class="cont">
    <div class="tit pad_10"><img src="images/title13.png" width="305" height="85" /></div>
    <div class="mentor_list">
      $eliteEdu_startTeacher$
        
      <div class="clear"></div>
    </div>
    <div class="btn_blue03"><a href="tencent://message/?uin=2655646300&Site=&Menu=yes">和明星导师一对一交流<i></i></a></div>
  </div>
</div>

<!--banner-->
<div id="banner03" class="">
$eliteEdu_Banner$
</div>
<!--list-->
<div class="list" id="list">
	$eliteEdu_Class$
    <div class="clear"></div>
    
    <div class="btn_blue03 marg_50"><a href="javascript:;">零基础我能否学会<i></i></a></div>
</div>


<!--ta们之前是-->
<div id="banner05" class="">
$eliteEdu_banner05$
</div>



<!--banner-->
<div id="banner04" class="">
$eliteEdu_banner04$
</div>




<!--优秀学员-->

    <div class="stu_box" id="stu_box">
        <div class="big_box">
            <i class="l jsPrev"></i>
            <div class="cont">
                $eliteEdu_clearfix$
            </div>
            <i class="r current1 jsNext"></i>
            <div class="clear"></div>
        </div>
        <div class="s_box">
            $eliteEdu_starStuList$
        </div>
    </div>

<!--照片视频-->
<div class="phote_vedio" id="phote_vedio">
	<div class="tit"><img src="images/title4.png"/></div>
    <div class="cont">
    	$eliteEdu_phote_vedio_list$
        	
        <div class="clear"></div>
    </div>
    <div class="btn_blue02"><a href="photoVedio.html" target="_blank">更多照片视频<i></i></a></div>
</div>


<!--新闻动态-->
<div class="news news_heig" id="news news_heig">
	<div class="tit"><img src="images/title5.png" width="145" height="83" /></div>
    <div class="cont">
    	$eliteEdu_news_list$
    <div class="clear"></div>

    </div>
    
    
</div>


<!--合作伙伴-->
<div class="our_partner" id="our_partner">
	<div class="tit"><img src="images/title6.png" width="145" height="82" /></div>
    <div class="cont">
    	<!--<a href="javascript:;"><img src="images/link1.png" /></a>
        <a href="javascript:;"><img src="images/link2.png" class="mar" /></a>
        <a href="javascript:;"><img src="images/link3.png" class="mar"  /></a>
        <a href="javascript:;"><img src="images/link4.png" /></a>
        <a href="javascript:;"><img src="images/link5.png" /></a>
        <a href="javascript:;"><img src="images/link6.png" class="mar" /></a>
        <a href="javascript:;"><img src="images/link7.png" class="mar" /></a>
        <a href="javascript:;"><img src="images/link8.png" /></a>
        <a href="javascript:;"><img src="images/link9.png" class="mar" /></a>
        <a href="javascript:;"><img src="images/link10.png" /></a>
        <a href="javascript:;"><img src="images/link11.png" /></a>
        <a href="javascript:;"><img src="images/link12.png" /></a>-->
        $our_partner_sj$
        <div class="clear"></div>
    </div>
</div>
<div class="btn_blue03 margin_110" id="btn_blue03 margin_110"><a href="javascript:;">立即咨询 享受限时优惠<i></i></a></div>

<!--底部-->
<div id="footer" class=""></div>
</body>
</html>
