<!DOCTYPE html>
<html lang='zh'>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width,initial-scale=1,user-scalable=no'>
<link rel='stylesheet' href='css/style.css' type='text/css'/>
<title>了解清波</title>
<script src='js/lib/jquery.min.js'></script>
<script src='js/preview.js'></script>

<script src="js/aboutUs.js"></script>
</head>

<body>
<!-- 头部  -->
<div class='header_box header_box01' id='header'></div>

<!--清波简介-->
<div class='about_us' id='about_us'>
 <!--<div class='l'><img src='images/img25.png' width='455' height='529' alt=' ' /></div>
 <div class='r'>清波清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介简介</div>
 <div class='clear'></div>-->
    $about_info$
</div>

<!--banner-->
<div  id='aboutbanner' class="">
	$about_banner$
</div>

<!--图片列表-->
<div class='about_list' id='about_list'>
	<!--<ul>
    	<li><a href='javascript:;' class='img'></a><a href='javascript:;'>2008年中央电视台街舞挑战赛全国赛区</a></li>
        <li><a href='javascript:;' class='img'></a><a href='javascript:;'>2008年中央电视台街舞挑战赛全国赛区</a></li>
        <li><a href='javascript:;' class='img'></a><a href='javascript:;'>2008年中央电视台街舞挑战赛全国赛区</a></li>
        <li><a href='javascript:;' class='img'></a><a href='javascript:;'>2008年中央电视台街舞挑战赛全国赛区</a></li>
        <li><a href='javascript:;' class='img'></a><a href='javascript:;'>2008年中央电视台街舞挑战赛全国赛区</a></li>
        <li><a href='javascript:;' class='img'></a><a href='javascript:;'>2008年中央电视台街舞挑战赛全国赛区</a></li>
        <li><a href='javascript:;' class='img'></a><a href='javascript:;'>2008年中央电视台街舞挑战赛全国赛区</a></li>
        <li><a href='javascript:;' class='img'></a><a href='javascript:;'>2008年中央电视台街舞挑战赛全国赛区</a></li>
    </ul>-->
    $about_img$
    <div class='clear'></div>
</div>

<!--教学环境-->
<div class='teaching_box' id='teaching_box'>
	<div class='tit'><img src='images/title7.png' width='145' height='83' /></div>
	$about_teaching_box$
	<!--<div class='l'>
		<span><img class='jsPreview' src='images/bj15.jpg' width='100%' height='100%'></span>
		<span><img class='jsPreview' src='images/bj16.jpg' width='100%' height='100%'></span>
		<span><img class='jsPreview' src='images/bj17.jpg' width='100%' height='100%'></span>
		
	</div>
	<div class='c'>
		<span class='big'>4</span><span class='mar'>5</span><span>6</span>
	</div>
	<div class='r'>
		<span class='mar'>7</span><span>8</span><span class='big'>9</span>
	</div>-->
	<div class='clear'></div>

</div>
<!--乘车路线-->

<div class='route' id='route'>
<!--<div class='tit'><img src='images/title8.png' width='145' height='83' /></div>-->
    $about_rout$
</div>

<!--底部-->
<div id='footer' class=""></div>
</body>
</html>
