<!DOCTYPE html>
<html lang='zh'>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width,initial-scale=1,user-scalable=no'>
<link rel='stylesheet' href='css/style.css' type='text/css'/>
<title>保障就业</title>
<script src='js/lib/jquery.min.js'></script>
<script src='js/qbPager.js'></script>
<script src='js/pub.js'></script>
</head>

<body>
<!-- 头部  -->
<div class='header_box header_box08' id='header'></div>

<!--ta们之前是-->
<div id='banner05' class="">
$getJob_List$
</div>
<!--banner-->
<div id='banner04' class="">
$getJob_banner$
</div>
<!--list-->
<div class='list list01' id='list list01'>
    $getJob_Student$
    <div class='clear'></div>
    
</div>


<!--<div class='page'><a href='javascript:;' class='pre'>  &lt; </a>  <a href='javascript:;' class='current'>1</a><a href='javascript:;'>2</a><a href='javascript:;'>3</a><a href='javascript:;'>4</a><a href='javascript:;'>5</a> <a href='javascript:;' class='next'>  &gt; </a></div>-->


<!--合作伙伴-->
<div class='our_partner' id='our_partner'>
	<div class='tit'><img src='images/title6.png' width='145' height='82' /></div>
    <div class='cont'>
        $our_partner_jy$
        <div class='clear'></div>
    </div>
</div>
<div class='btn_blue03 margin_110' id='btn_blue03 margin_110'><a href='tencent://message/?uin=2655646300&Site=&Menu=yes'>立即咨询 享受限时优惠<i></i></a></div>

<!--底部-->
<div id='footer' class=""></div>
</body>
</html>
