<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<link rel="stylesheet" href="css/style.css" type="text/css"/>
<title>明星导师</title>
<script src="js/lib/jquery.min.js"></script>
<script src="js/pub.js"></script>
</head>

<body>
<!-- 头部  -->
<div class="header_box header_box03" id="header"></div>

<!--全明星私教导师-->
<div class="super_mentor bj01" id='super_mentor bj01'>
<div class="tit"><img src="images/title9.png" width="213" height="85" /></div>
  <div class="cont">
      <i class="btn l jsMentorPrev"></i><i class="btn r jsMentorNext"></i>
    <div class="mentor_list">
        $mentor_list_sd$
      <!--<ul>
        <li><a href="javascript:;"><img src="images/img4.png" width="240" height="350">
          <p><span>姚清波</span><i>专注健身教育专注健身教育专注健身教育专注健身教育专注健身教育专注健身专注健身教育教育专注健身教育16年</i></p>
          </a></li>
        <li><a href="javascript:;"><img src="images/img5.png" width="240" height="350">
          <p><span>姚清波</span><i>专注健身教育专注健身教育专注健身教育专注健身教育专注健身教育专注健身专注健身教育教育专注健身教育16年</i></p>
          </a></li>
        <li><a href="javascript:;"><img src="images/img6.png" width="229" height="350">
          <p><span>姚清波</span><i>专注健身教育专注健身教育专注健身教育专注健身教育专注健身教育专注健身专注健身教育教育专注健身教育16年</i></p>
          </a></li>
        <li><a href="javascript:;"><img src="images/img7.png" width="240" height="350">
          <p><span>姚清波</span><i>专注健身教育专注健身教育专注健身教育专注健身教育专注健身教育专注健身专注健身教育教育专注健身教育16年</i></p>
          </a></li>
      </ul>-->
      <div class="clear"></div>
    </div>
  </div>
</div>

<!--banner-->
<div class="banner01" id="banner01"></div>

<!--全明星团操导师-->
<div class="super_mentor bj01 bj02" id="super_mentor bj01 bj02">
<div class="tit"><img src="images/title10.png" width="213" height="85" /></div>
  <div class="cont">
      <i class="btn l jsMentorPrev"></i><i class="btn r jsMentorNext"></i>
    <div class="mentor_list">
        $mentor_list_tc$
      <!--<ul>
        <li><a href="javascript:;"><img src="images/img4.png" width="240" height="350">
          <p><span>姚清波</span><i>专注健身教育专注健身教育专注健身教育专注健身教育专注健身教育专注健身专注健身教育教育专注健身教育16年</i></p>
          </a></li>
        <li><a href="javascript:;"><img src="images/img5.png" width="240" height="350">
          <p><span>姚清波</span><i>专注健身教育专注健身教育专注健身教育专注健身教育专注健身教育专注健身专注健身教育教育专注健身教育16年</i></p>
          </a></li>
        <li><a href="javascript:;"><img src="images/img6.png" width="229" height="350">
          <p><span>姚清波</span><i>专注健身教育专注健身教育专注健身教育专注健身教育专注健身教育专注健身专注健身教育教育专注健身教育16年</i></p>
          </a></li>
        <li><a href="javascript:;"><img src="images/img7.png" width="240" height="350">
          <p><span>姚清波</span><i>专注健身教育专注健身教育专注健身教育专注健身教育专注健身教育专注健身专注健身教育教育专注健身教育16年</i></p>
          </a></li>
      </ul>-->
      <div class="clear"></div>
    </div>
  </div>
</div>

<div class="banner02" id="banner02"></div>
<!--全明星瑜伽导师-->
<div class="super_mentor bj01 bj03" id="super_mentor bj01 bj03">
<div class="tit"><img src="images/title11.png" width="213" height="85" /></div>
  <div class="cont">
      <i class="btn l jsMentorPrev"></i><i class="btn r jsMentorNext"></i>
    <div class="mentor_list">
        $mentor_list_yg$
      <!--<ul>
        <li><a href="javascript:;"><img src="images/img4.png" width="240" height="350">
          <p><span>姚清波</span><i>专注健身教育专注健身教育专注健身教育专注健身教育专注健身教育专注健身专注健身教育教育专注健身教育16年</i></p>
          </a></li>
        <li><a href="javascript:;"><img src="images/img5.png" width="240" height="350">
          <p><span>姚清波</span><i>专注健身教育专注健身教育专注健身教育专注健身教育专注健身教育专注健身专注健身教育教育专注健身教育16年</i></p>
          </a></li>
        <li><a href="javascript:;"><img src="images/img6.png" width="229" height="350">
          <p><span>姚清波</span><i>专注健身教育专注健身教育专注健身教育专注健身教育专注健身教育专注健身专注健身教育教育专注健身教育16年</i></p>
          </a></li>
        <li><a href="javascript:;"><img src="images/img7.png" width="240" height="350">
          <p><span>姚清波</span><i>专注健身教育专注健身教育专注健身教育专注健身教育专注健身教育专注健身专注健身教育教育专注健身教育16年</i></p>
          </a></li>
      </ul>-->
      <div class="clear"></div>
    </div>
  </div>
</div>

<div class="btn_blue03 marg" id="btn_blue03 marg"><a href="tencent://message/?uin=2655646300&Site=&Menu=yes">和明星导师一对一交流<i></i></a></div>

<!--底部-->
<div id="footer" class=""></div>
</body>
</html>
