<!DOCTYPE html>
<html lang='zh'>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width,initial-scale=1,user-scalable=no'>
<link rel='stylesheet' href='css/style.css' type='text/css'/>
<title>校区</title>
<script src='js/lib/jquery.min.js'></script>
<script src='js/pub.js'></script>
</head>

<body>
<!-- 头部  -->
<div class='header_box header_box06' id='header'></div>

<!--总校区简介-->
<div class='about_us campus' id='about_us campus'>
    $schoolZone_List$
 <!--<div class='l'><img src='images/img25.png' width='455' height='529' alt=' ' /></div>
 <div class='r'>清波清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介清波简介简介</div>
 <div class='clear'></div>-->
</div>



<!--金牌课程-->
<div class='gold_course' id='gold_course'>
  <div class='tit'><img src='images/title1.png' width='165' height='83' alt=''/></div>
  <div class='cont'>
      $schoolZone_gold_brand$
  </div>
</div>

<!--明星导师-->
<div class='super_mentor'  id='super_mentor'>
  <div class='mentor_bj'>
    <div class='tit'><img src='images/title2.png' width='187' height='82' alt='' /></div>
    <div class='btn_blue01'><a href='tencent://message/?Menu=yes&amp;amp;uin=938175917&amp;amp;Service=58&amp;amp;SigT=A7F6FEA02730C988657953AC84566627EC06152C9442245B443D7B98215F11AE07D0E5AE8E8E52871FA8EECE6886DCA49669716D247DF2CC141473ECF7C6F08CA590EB3A42A49BE787D7603C9D2AA9376F86C5B4D0195DB9A2CBC5E692E9FBCCFE9199879104EBEE018E092B764D21F9CEA25D820EBE3F88&amp;amp;SigU=30E5D5233A443AB20DBDC7E87B755CF43F7244A01DB4FBE000605612F808638CB86598BFDBEF574C750179AD1755268FE1D9A9FC41E776F04C8D52C6D3967B69EE552AC7D68AD5AB'>面对面交流<i></i></a></div>
  </div>
    <div class="cont">
        <div class="mentor_menu"> <span class="current">私教明星导师</span> <span>团操明星导师</span> <span>瑜伽明星导师</span> </div>
        <div class="mentor_list">
            <!--<ul>
                    <li><a href="javascript:;"><img src="images/img34.png" width="240" height="350" />
                      <p><span><b>GIMMY</b>程杨1</span><i>清波健身学院培训导师<br/>
            湖北省健美冠军 <br/>
            中式私教体系创建者<br/>
            《健康有约》特约嘉宾

            </i></p>
                      </a></li>
                    <li><a href="javascript:;"><img src="images/img35.png" width="240" height="350" />
                      <p><span>窦超1</span><i>清波健身学院培训导师<br/>
            湖北省健美冠军 <br/>
            中式私教体系创建者<br/>
            《健康有约》特约嘉宾
            </i></p>
                      </a></li>
                    <li><a href="javascript:;"><img src="images/img36.png" width="229" height="350" />
                      <p><span>朱迪1</span><i>清波健身学院培训导师<br/>
            国家职业资格健身教练<br/>
            KBSF康复课程认证<br/>
            OSTA精英教练认证</i></p>
                      </a></li>
                    <li><a href="javascript:;"><img src="images/img37.png" width="240" height="350" />
                      <p><span>赵美兰1</span><i>清波健身学院培训导师<br/>
            KBSF体系私教认证<br/>
            KBSF 私教康复认证<br/>
            EPTC 急速瘦身认证
            </i></p>
                      </a></li>
                  </ul>-->
            $schoolZone_teacher_1$
            <div class="clear"></div>
        </div>
        <div class="mentor_list hide">
            <!--<ul>
                    <li><a href="javascript:;"><img src="images/img34.png" width="240" height="350" />
                      <p><span><b>GIMMY</b>程杨2</span><i>清波健身学院培训导师<br/>
            湖北省健美冠军 <br/>
            中式私教体系创建者<br/>
            《健康有约》特约嘉宾

            </i></p>
                      </a></li>
                    <li><a href="javascript:;"><img src="images/img35.png" width="240" height="350" />
                      <p><span>窦超2</span><i>清波健身学院培训导师<br/>
            湖北省健美冠军 <br/>
            中式私教体系创建者<br/>
            《健康有约》特约嘉宾
            </i></p>
                      </a></li>
                    <li><a href="javascript:;"><img src="images/img36.png" width="229" height="350" />
                      <p><span>朱迪2</span><i>清波健身学院培训导师<br/>
            国家职业资格健身教练<br/>
            KBSF康复课程认证<br/>
            OSTA精英教练认证</i></p>
                      </a></li>
                    <li><a href="javascript:;"><img src="images/img37.png" width="240" height="350" />
                      <p><span>赵美兰2</span><i>清波健身学院培训导师<br/>
            KBSF体系私教认证<br/>
            KBSF 私教康复认证<br/>
            EPTC 急速瘦身认证
            </i></p>
                      </a></li>
                  </ul>-->
            $schoolZone_teacher_2$
            <div class="clear"></div>
        </div>
        <div class="mentor_list hide">
            $schoolZone_teacher_3$
            <!--<ul>
                    <li><a href="javascript:;"><img src="images/img34.png" width="240" height="350" />
                      <p><span><b>GIMMY</b>程杨3</span><i>清波健身学院培训导师<br/>
            湖北省健美冠军 <br/>
            中式私教体系创建者<br/>
            《健康有约》特约嘉宾

            </i></p>
                      </a></li>
                    <li><a href="javascript:;"><img src="images/img35.png" width="240" height="350" />
                      <p><span>窦超3</span><i>清波健身学院培训导师<br/>
            湖北省健美冠军 <br/>
            中式私教体系创建者<br/>
            《健康有约》特约嘉宾
            </i></p>
                      </a></li>
                    <li><a href="javascript:;"><img src="images/img36.png" width="229" height="350" />
                      <p><span>朱迪3</span><i>清波健身学院培训导师<br/>
            国家职业资格健身教练<br/>
            KBSF康复课程认证<br/>
            OSTA精英教练认证</i></p>
                      </a></li>
                    <li><a href="javascript:;"><img src="images/img37.png" width="240" height="350" />
                      <p><span>赵美兰3</span><i>清波健身学院培训导师<br/>
            KBSF体系私教认证<br/>
            KBSF 私教康复认证<br/>
            EPTC 急速瘦身认证
            </i></p>
                      </a></li>
                  </ul>-->
            <div class="clear"></div>
        </div>
        <div class="btn_blue02"><a href="starMentor.html#teacher" target="_blank">更多明星导师<i></i></a></div>
    </div>
</div>


<!--优秀学员-->
<div class='stu_box'  id='stu_box'>
  <div class='big_box'> 
  	<i class='l jsPrev'></i>
    <div class='cont'>
    	
            $schoolZone_student_1$
     
    </div>
    <i class='r current1 jsNext'></i>
    <div class='clear'></div>
  </div>
  <div class='s_box'>
      $schoolZone_student_2$
  </div>
</div>

<!--照片视频-->
<div class='phote_vedio' id='phote_vedio'>
	<div class='tit'><img src='images/title4.png'/></div>
    <div class='cont'>
        $schoolZone_phote_vedio$
        <div class='clear'></div>
    </div>
    <div class='btn_blue02'><a href='photoVedio.html' target="_blank">更多照片视频<i></i></a></div>
</div>


<!--新闻动态-->
<div class='news' id='news'>
	<div class='tit'><img src='images/title5.png' width='145' height='83' /></div>
    <div class='cont'>
        $schoolZone_news_list$
    <div class='clear'></div>

    </div>
    
    <div class='btn_blue02'><a href='news.html' target="_blank">更多新闻<i></i></a></div>
    
</div>


<!--banner-->
<div class='banner' id='banner'></div>

<!--合作伙伴-->
<div class='our_partner' id='our_partner'>
	<div class='tit'><img src='images/title6.png' width='145' height='82' /></div>
    <div class='cont'>
    	<!--<a href='javascript:;'><img src='images/link1.png' /></a>
        <a href='javascript:;'><img src='images/link2.png' class='mar' /></a>
        <a href='javascript:;'><img src='images/link3.png' class='mar'  /></a>
        <a href='javascript:;'><img src='images/link4.png' /></a>
        <a href='javascript:;'><img src='images/link5.png' /></a>
        <a href='javascript:;'><img src='images/link6.png' class='mar' /></a>
        <a href='javascript:;'><img src='images/link7.png' class='mar' /></a>
        <a href='javascript:;'><img src='images/link8.png' /></a>
        <a href='javascript:;'><img src='images/link9.png' class='mar' /></a>
        <a href='javascript:;'><img src='images/link10.png' /></a>
        <a href='javascript:;'><img src='images/link11.png' /></a>
        <a href='javascript:;'><img src='images/link12.png' /></a>-->
        $our_partner_xq$
        <div class='clear'></div>
    </div>
</div>

<!--底部-->
<div id='footer' class=""></div>
</body>
</html>
