<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<link rel="stylesheet" href="css/style.css" type="text/css"/>
<title>瑜伽</title>
<script src="js/lib/jquery.min.js"></script>
<script src="js/pub.js"></script>
</head>

<body>
<!-- 头部  -->
<div class="header_box header_box07" id="header"></div>

<!--金非昔比-->
<div class="compared" id="compared">
	<!--<div class="tit"><img src="images/title12.png" width="438" height="86" /></div>
	<div class="cont">
    	<ul>
        	<li>
            	<span class="bj_icon01"></span>
                <span>教练收入</span>
                <i>月薪轻松过万，走上人生巅峰</i>
            </li>
            <li>
            	<span class="bj_icon02"></span>
                <span>工作环境</span>
                <i>高端大气上档次</i>
            </li>
            <li>
            	<span class="bj_icon03"></span>
                <span>教练身材</span>
                <i>穿衣显瘦、脱衣有肉</i>
            </li>
            <li>
            	<span class="bj_icon04"></span>
                <span>社会地位</span>
                <i>比白领高薪、比金领自由</i>
            </li>
        </ul>
		<p>普通白领月收入4000-6000，人脉少，涨薪难，面对电脑健康无保障，幸福指数直线下降
			而健身教练，平均收入1万＋，在中国，每年递增俱乐部5000-6000家，对优质健身教练需求巨大</p>
    </div>-->
	$eliteEduYG_gpc$

</div>

<!--参与测试-->
<div class="test" id="test">
 	
	<em><img src="images/icon02.png" width="67" height="64" /></em>
	<span>免费测试：我适合做健身教练吗？</span>
    <a href="javascript:;">参与测试<i></i></a>
  	<div class="clear"></div>
</div>

<div class="s_banner" id="s_banner"><img src="images/title14.png" width="321" height="188" /></div>

<!--明星导师-->
<div class="super_mentor" id="super_mentor">
 
  <div class="cont">
    <div class="tit pad_10"><img src="images/title13.png" width="305" height="85" /></div>
    <div class="mentor_list">
      $eliteEduYG_startTeacher$
        
      <div class="clear"></div>
    </div>
    <div class="btn_blue03"><a href="tencent://message/?Menu=yes&amp;amp;uin=938175917&amp;amp;Service=58&amp;amp;SigT=A7F6FEA02730C988657953AC84566627EC06152C9442245B443D7B98215F11AE07D0E5AE8E8E52871FA8EECE6886DCA49669716D247DF2CC141473ECF7C6F08CA590EB3A42A49BE787D7603C9D2AA9376F86C5B4D0195DB9A2CBC5E692E9FBCCFE9199879104EBEE018E092B764D21F9CEA25D820EBE3F88&amp;amp;SigU=30E5D5233A443AB20DBDC7E87B755CF43F7244A01DB4FBE000605612F808638CB86598BFDBEF574C750179AD1755268FE1D9A9FC41E776F04C8D52C6D3967B69EE552AC7D68AD5AB">和明星导师一对一交流<i></i></a></div>
  </div>
</div>

<!--banner-->
<div id="banner03" class="">
$eliteEduYG_Banner$
</div>
<!--list-->
<div class="list" id="list">
	$eliteEduYG_Class$
    <div class="clear"></div>
    
    <div class="btn_blue03 marg_50"><a href="javascript:;">零基础我能否学会<i></i></a></div>
</div>


<!--ta们之前是-->
<div id="banner05" class="">
$eliteEduYG_banner05$
</div>



<!--banner-->
<div id="banner04" class="">
$eliteEduYG_banner04$
</div>




<!--优秀学员-->

    <div class="stu_box" id="stu_box">
        <div class="big_box">
            <i class="l jsPrev"></i>
            <div class="cont">
                $eliteEduYG_clearfix$
            </div>
            <i class="r current1 jsNext"></i>
            <div class="clear"></div>
        </div>
        <div class="s_box">
            $eliteEduYG_starStuList$
        </div>
    </div>

<!--照片视频-->
<div class="phote_vedio" id="phote_vedio">
	<div class="tit"><img src="images/title4.png"/></div>
    <div class="cont">
    	$eliteEduYG_phote_vedio_list$
        	
        <div class="clear"></div>
    </div>
    <div class="btn_blue02"><a href="photoVedio.html" target="_blank">更多照片视频<i></i></a></div>
</div>


<!--新闻动态-->
<div class="news news_heig" id="news news_heig">
	<div class="tit"><img src="images/title5.png" width="145" height="83" /></div>
    <div class="cont">
    	$eliteEduYG_news_list$
    <div class="clear"></div>

    </div>
    
    
</div>


<!--合作伙伴-->
<div class="our_partner" id="our_partner">
	<div class="tit"><img src="images/title6.png" width="145" height="82" /></div>
    <div class="cont">
    	<!--<a href="javascript:;"><img src="images/link1.png" /></a>
        <a href="javascript:;"><img src="images/link2.png" class="mar" /></a>
        <a href="javascript:;"><img src="images/link3.png" class="mar"  /></a>
        <a href="javascript:;"><img src="images/link4.png" /></a>
        <a href="javascript:;"><img src="images/link5.png" /></a>
        <a href="javascript:;"><img src="images/link6.png" class="mar" /></a>
        <a href="javascript:;"><img src="images/link7.png" class="mar" /></a>
        <a href="javascript:;"><img src="images/link8.png" /></a>
        <a href="javascript:;"><img src="images/link9.png" class="mar" /></a>
        <a href="javascript:;"><img src="images/link10.png" /></a>
        <a href="javascript:;"><img src="images/link11.png" /></a>
        <a href="javascript:;"><img src="images/link12.png" /></a>-->$our_partner_yg$
        <div class="clear"></div>
    </div>
</div>
<div class="btn_blue03 margin_110" id="btn_blue03 margin_110"><a href="tencent://message/?Menu=yes&amp;amp;uin=938175917&amp;amp;Service=58&amp;amp;SigT=A7F6FEA02730C988657953AC84566627EC06152C9442245B443D7B98215F11AE07D0E5AE8E8E52871FA8EECE6886DCA49669716D247DF2CC141473ECF7C6F08CA590EB3A42A49BE787D7603C9D2AA9376F86C5B4D0195DB9A2CBC5E692E9FBCCFE9199879104EBEE018E092B764D21F9CEA25D820EBE3F88&amp;amp;SigU=30E5D5233A443AB20DBDC7E87B755CF43F7244A01DB4FBE000605612F808638CB86598BFDBEF574C750179AD1755268FE1D9A9FC41E776F04C8D52C6D3967B69EE552AC7D68AD5AB">立即咨询 享受限时优惠<i></i></a></div>

<!--底部-->
<div id="footer" class=""></div>
</body>
</html>
