<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<link rel="stylesheet" href="css/style.css" type="text/css"/>
<title>金牌课程</title>
<script src="js/lib/jquery.min.js"></script>
<script src="js/pub.js"></script>
</head>

<body>
<!-- 头部  -->
<div class="header_box header_box02" id="header"></div>

<!--金牌教程-->
<div class="tutor_list" id="tutor_list">
	<div class="tit"><img src="images/title1.png" width="165" height="83" /></div>
    <div class="cont">
        $goldCourse_brand_sj$
		$goldCourse_brand_tc$
		$goldCourse_brand_yg$
    <!--<img src="images/jpkc_2.png" width="1199" height="468" /> 
    <img src="images/jpkc_3.png" width="1199" height="513" /> 
    <img src="images/jpkc_4.png" width="1199" height="439" />--> 
    </div>
    
</div>


<!--底部-->
<div id="footer" class=""></div>
</body>
</html>
